:root {
  --background-color: #700548;
  --text-color: #fdfdfd;

  --header-font: "Rammetto One", sans-serif;
  --text-font: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgba(30, 27, 44, 0.9);

  &__icons {
    font-size: 150px;
    color: var(--text-color);
  }
}
