:root {
  --background-color: #700548;
  --secondary-color: rgba(30, 27, 44, 0.9);
  --text-color: #ffffe3;

  --header-font: "Rammetto One", sans-serif;
  --text-font: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// Header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  &__nav {
    display: flex;
    margin: 0 5em;
  }

  &__nav-icon {
    padding: 0.75em;
    font-size: 5em;
    color: var(--text-color);
  }
}

// Hero
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../assets/hero-image.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  &__inner {
    width: 500px;
    padding: 5em;
  }
  &__title {
    font-family: var(--header-font);
    font-size: 2.5em;
  }
  &__text {
    font-family: var(--text-font);
    font-size: 1.5em;
  }
  @media (min-width: 577px) {
    &__inner {
      padding-top: 5em;
      width: 75vw;
    }
    &__title {
      font-size: 10em;
    }
    &__text {
      font-size: 5em;
    }
  }
}

// About
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);

  &__inner {
    width: 70vw;
  }
  &__heading {
    font-family: var(--header-font);
    font-size: 2em;
  }
  &__text {
    margin-top: 1em;
    font-family: var(--text-font);
    font-size: 1em;
  }

  @media (min-width: 577px) {
    &__inner {
      width: 50vw;
    }
    &__heading {
      font-size: 10em;
    }
    &__text {
      // margin-top: 1em;
      font-size: 3em;
    }
  }
}
// Toolkit
.toolkit {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);

  &__heading {
    font-family: var(--header-font);
    font-size: 2em;
    text-align: center;
  }
  &__skills-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__icons {
    font-size: 2.5em;
  }
  &__text {
    font-size: 1.25em;
    font-family: var(--text-font);
  }
}

@media (min-width: 577px) {
  .toolkit {
    height: 70vh;
    background-color: rgba(30, 27, 44, 0.9);

    &__inner {
      padding: 5em;
      width: 50vw;
      height: 100vh;
    }
    &__heading {
      margin-top: 5em;
      font-size: 7.5em;
    }
    &__skills-box {
      margin-top: 5em;
      flex-direction: row;
      gap: 5em;
    }
    &__icons {
      font-size: 10em;
    }
    &__text {
      font-size: 3em;
      font-family: var(--text-font);
    }
  }
}

// Projects
.projects {
  padding: 1em 0.75em;
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    margin-top: 0.5em;
    text-align: center;
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  &__title {
    margin: 0.5em;
    font-size: 1em;
  }
  &__image {
    width: 300px;
    border-radius: 5px;
  }
  &__text {
    padding: 0.5em 1.5em;
    font-size: 0.5;
  }
  &__card-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 577px) {
  .projects {
    height: 100vh;

    &__inner {
      flex-direction: row;
    }
    &__heading {
      font-size: 7.5em;
    }
    &__title {
      font-size: 3.5em;
    }
    // &__card {
    // }
    &__image {
      width: 1000px;
      border-radius: 15px;
    }
    &__text {
      padding: 0.5em 1.5em;
      font-size: 3em;
    }
  }
}
// Footer
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgba(30, 27, 44, 0.9);

  &__icons {
    font-size: 150px;
    color: var(--text-color);
  }
}
