// :root {
//   --background-color: #700548;
//   --text-color: #fdfdfd;

//   --header-font: "Rammetto One", sans-serif;
//   --text-font: "Open Sans", sans-serif;
// }
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   text-decoration: none;
// }

// // Header
// .header {
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   display: flex;
//   justify-content: space-between;
//   background-color: var(--background-color);

//   &__nav {
//     display: flex;
//     margin: 0 5em;
//   }

//   &__nav-icon {
//     padding: 0.75em;
//     font-size: 5em;
//     color: var(--text-color);
//   }
// }

:root {
  --background-color: #700548;
  --text-color: #ffffe3;

  --header-font: "Rammetto One", sans-serif;
  --text-font: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// Header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: var(--background-color);

  &__nav {
    display: flex;
    margin: 0 5em;
  }

  &__nav-icon {
    padding: 0.75em;
    font-size: 5em;
    color: var(--text-color);
  }
}

// Hero
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../assets/hero-image.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  &__inner {
    width: 500px;
    padding: 5em;
  }
  &__title {
    font-family: var(--header-font);
    font-size: 2.5em;
  }
  &__text {
    font-family: var(--text-font);
    font-size: 1.5em;
  }
  @media (min-width: 577px) {
    &__inner {
      padding-top: 5em;
      width: 75vw;
    }
    &__title {
      font-size: 10em;
    }
    &__text {
      font-size: 5em;
    }
  }
}
